body {
	background-color: lightgray;
}

h1, h2 {
	text-align: center;
	font-weight: bold;
	color: blue;
}

.main-text {
	font-family: Arial;
	font-size: 16px;
}

.plan-list {
	font-family: Arial;
	font-size: 17px;
}

.green-year {
	color: green;
}

.blue-year {
	color: blue;
}

.red-year {
	color: red;
}

.images {
	text-align: center;
}

.images img {
	width: 300px;
	margin-right: 8px;
}