body {
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f3f6;
}

.center-box {
    background-color: #4CAF50;
    color: white;
    padding: 30px 50px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.center-box:hover {
    transform: scale(1.2);
}